<body>

  <div class="container">
    <div class="row nav nav-tabs" id="nav-tab" role="tablist">

      <div class=" col-lg-8 col-md-8 col-sm-8 col-8">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">A's Contacts</button>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-4">
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">B's Contacts</button>
      </div>
    </div>
  </div>


  <div class="container mt-5">
    <div class="row mt-3">
      <div class="col-lg-1  col-md-1 col-sm-0">

      </div>
      <div class="col-lg-7  col-md-7 col-sm-12">
        <tables></tables>
      </div>

      <!-- BUTTONS -->
      <div class="col-lg-1 col-md-1 col-sm-2 col-2 ">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-10  col-10 mt-2">
        <buttons></buttons>
      </div>
    </div>
  </div>

</body>